In [ ]:
first="alex"
second=" momanyi"

In [ ]:
first+second

In [ ]:
second="simako"

In [ ]:
second[0]

In [ ]:
second[5]

In [ ]:
fullname=first+" "+second
fullname

In [ ]:
fullname[0:]

In [ ]:
name=input("enter first name")

In [ ]:
print(name)

In [ ]:
for i in range (11):
    print(i)

In [ ]:
for chr in fullname:
    print(chr)

In [ ]:
for i in range(1,5,2):
    print(i)

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

y = np.array([35, 25, 25, 15])
mylabels = ["alex", "simba", "momanyi", "simako"]

plt.pie(y, labels = mylabels)
plt.show()

In [ ]:
#1,2,3,4,5,6,7,8,9,10
for x in range (1,11):
    print(x)

In [ ]:
#1,2,3,4,5,6,7,8,9,10
for x in range (1,11):
    print(x,end=",")

In [ ]:
#1,2,3,4,5,6,7,8,9,10
total=0
for x in range(1,11):
    total+=x
    print(x,end=",")
    
    print("\n",total)

In [5]:
x=int(input("enter age: "))
y=int(input("enter age: "))
z=int(input("enter age: "))
xy=int(input("enter age: "))

total=x+y+z+xy
average=total/4
print(total,average)

enter age:  3
enter age:  3
enter age:  34
enter age:  5

45 11.25

In [ ]:
x=int(input("enter age: "))

In [ ]:
total=0
for x in range(4):
    x=int(input("enter age"))
    total +=x
    print(x, end=",")
print("\n",total,total/4)

In [4]:
count=0
total=0
while count< 4:
    x=int(input("enter age"))
    total+=x
    count+=1
print(total/count)

enter age 2
enter age 5
enter age 7
enter age 5

4.75

In [6]:
score=67
if score>=90:
    print("A")
elif score>=80:
    print("B")
elif score>=70:
    print("C")
elif score>=60:
    print("D")
else:
    print("E")

D

In [12]:
check = True
while check:
    name=input("name")
    if "Alex" in name:
        check =False

name John
name al
name kjs
name s
name
name s
name
name ALEX
name S,S,
name Alex

In [1]:
def alex():
    print("hello mr alex")

In [3]:
def greet(name):
    print("hello",name

In [4]:
grocery=["tomatoes","onion","banana"]
grocery [1]

'onion'

In [6]:
ind = 0
for item in grocery:
    print(item)
    
    print(grocery)

tomatoes
['tomatoes', 'onion', 'banana']
onion
['tomatoes', 'onion', 'banana']
banana
['tomatoes', 'onion', 'banana']

In [8]:
grocery.append("cabbage")
print(grocery)

['tomatoes', 'onion', 'banana', 'cabbage']

In [9]:
grocery.sort()

In [2]:
my_dictionary={
    "name":"person 2",
    "age":35,
    "salary":400
}

In [3]:
print(my_dictionary)

{'name': 'person 2', 'age': 35, 'salary': 400}

In [14]:
my_dictionary={
    "name":[ "person 1","person 2","person 3","person 4","person 5",],
    "age":[35,100,34,456,67],
}

In [16]:
my_dictionary

{'name': ['person 1', 'person 2', 'person 3', 'person 4', 'person 5'],
 'age': [35, 100, 34, 456, 67]}

In [24]:
import pandas as pd

In [20]:
my_dictionary

{'name': ['person 1', 'person 2', 'person 3', 'person 4', 'person 5'],
 'age': [35, 100, 34, 456, 67]}

In [25]:
df=pd.DataFrame(my_dictionary)

In [26]:
df

       name  age
0  person 1   35
1  person 2  100
2  person 3   34
3  person 4  456
4  person 5   67

In [30]:
df[["age", "age"]]

   age  age
0   35   35
1  100  100
2   34   34
3  456  456
4   67   67

In [33]:
df["age"]+1

0     36
1    101
2     35
3    457
4     68
Name: age, dtype: int64